<h4>Liste des produits</h4>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Nom</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Cuivre</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur impedit iusto quo! Aliquam architecto cupiditate delectus ea eaque error hic impedit magni maiores nihil non numquam odio repellendus sit, totam!</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Platine</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur impedit iusto quo! Aliquam architecto cupiditate delectus ea eaque error hic impedit magni maiores nihil non numquam odio repellendus sit, totam!</td>
    </tr>
    </tbody>
</table>